@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}



/* 自定义滚动条的样式 */
.scrollbar-container::-webkit-scrollbar {
  width: 5px; /* 滚动条的宽度 */
}

/* 滚动条滑块样式 */
.scrollbar-container::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: none;
}

/* 鼠标悬停在作用区域上，滚动条滑块变为可见 */
.scrollbar-container:hover::-webkit-scrollbar-thumb {
  background: #c9c8c8;
}

/* 鼠标悬停滚动条滑块，改变颜色 */
.scrollbar-container::-webkit-scrollbar-thumb:hover {
  background-color: #a19f9f;
  border-radius: 10px;
}
